#root {
  height: 100vh;
  width: 100%;
}

.full_page_div {
  height: 100%;
  width: 100%;
}

/* Nav Bar /////////////////////////////////////////////////////////////// */

#nav_bar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: left;
  padding: 5px;
  width: 100%;
  background-color: rgba(250, 235, 215, 0.531);
}

#nav_logo {
  width: 70px;
  height: 70px;
}

/* Landing Page ////////////////////////////////////////////////////////// */

#landing_logo {
  width: 500px;
  height: 500px;
}

#landing_main_div,
#signup_div,
#login_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.landing_buttons {
  border: 2px solid whitesmoke;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(39, 72, 154);
  color: whitesmoke;
  width: 100px;
  height: 50px;
}

.landing_buttons:hover {
  background-color: rgb(211, 189, 21);
  color: rgb(39, 72, 154);
  border: 4px solid rgb(39, 72, 154);

}

/* Sign Up / Log In Page ////////////////////////////////////////////////////////// */

.form_div {
  background-color: rgba(245, 245, 245, 0.578);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(39, 72, 154);
}

.the_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.form_button {
  border: none;
  border-radius: 5px;
  background-color: rgb(39, 72, 154);
  color: whitesmoke;
  padding: 6px;
  margin-top: 5px;
  width: 100%;
}

.form_button:hover {
  background-color: rgb(211, 189, 21);
  color: whitesmoke;
}

/* Battle Page ////////////////////////////////////////////////////////// */

#battle_div {
  height: 100%;
  display: flex;
  flex-direction: column;

}

#opponent_div {
  margin-top: 10vh;
  border: 2px solid blue;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  padding: 10px;
  
}

#your_pokemon_div {
  border: 3px solid brown;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  padding: 10px;
}

.poke_profile_div {
  border: 2px solid red;
}

.pokemon_image {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.status_bar_div {
  width: 100%;
  border: rgb(211, 189, 21);
}

#battle_options_div {
  border: 2px solid orange;
  width: 100%;
  height: 30%;
  display: flex;
  
}

#moves_div {
  border: 2px solid yellow;
  width: 60%;
}

#other_options_div {
  border: 2px solid black;
  width: 40%;
}