#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
#logo{
    width: 10px;
    height: 50px;
    align-items: center;

}
#logo{
    width: auto;
    height: 200px;
}