#root {
    height: 100vh;
    width: 100%;
  }

.full_page_div {
  height: 100%;
  width: 100%;
}

#nav_bar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: left;
  padding: 5px;
  width: 100%;
  background-color: rgba(250, 235, 215, 0.531);
}

#nav_logo {
    width: 70px;
    height: 70px;
}

#landing_logo {
  width: 500px;
  height: 500px;
}

#landing_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}